.DS_Store
token.txt
*.pptx
static/videos/flowerwoman.mp4
static/videos/jesusheart.mp4
static/videos/bottleplant.mp4
static/videos/horselamp.mp4
static/videos/queensboro.mp4
static/videos/roofcup.mp4
static/videos/shibaoeat.mp4
static/videos/shibaosleep.mp4
static/videos/mandaynight.mp4
static/videos/vegas.mp4
static/videos/yellow.mp4
static/videos/bedroom.mp4
static/videos/castle.mp4
static/videos/pumpkinlady.mp4
static/videos/shibaopika.mp4
static/videos/shibaosofa.mp4
static/videos/zeyaguitar.mp4
static/videos/sushi.mp4
*.pdf
static/videos/teaser_bug
static/videos/teaser_boy.mp4
static/videos/teaser_girl.mp4
static/videos/cover.jpg
